* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0
}

.bg-image {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #e6ecf5;
  background-image: url(../articles/img/pngwing.com.png), url(../articles/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 85% 25%, center;
  background-size: 250px, cover;
}

.welcome-image {
  justify-content: center;
  margin-top: 80px;
  margin-left: 280px;
}

.welcome-image:hover {
  transform: rotate(20deg);
  transform: scale(1.5);
}

.container-header{
  max-width: 1280px;
  padding: 20px 0;
  margin: 0;
  flex-wrap: wrap;
}

.header {
  position: fixed;
  top: 0;
  text-align: center;
  margin-bottom: 20px;
  background-color: rosybrown;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  flex-wrap: wrap;
}

.container-content{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: justify;
}

.container-title {
  margin: 30px 30px 0px 20px;
  padding: 20px 20px 0px 20px;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(183, 94, 94)
}


.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  flex-wrap: wrap;
}

.navbar-link {
  padding: 1em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: large;
  color: blueviolet;
  transition: 0.3s;
}

.navbar-link:hover {
  color: rgb(22, 190, 216);
  transform: scale(1.5);
  text-shadow: 1px 1px 2px black;
}

.articles {
  display: block;
  padding: 10px;
}

.articles-title {
  text-decoration: none;
  color: rgb(229, 75, 104);
  border-bottom: double;
}

.articles-text {
  background: rgba(251, 192, 192, 0.5);
  padding: 5px;
}

.articles-link__comments {
  color: gray;
}

.articles-link__more:hover {
  text-decoration: none;
  color: rgb(155, 57, 57);
}

.container-paragraph::first-letter {
  color: #d25b56;
  font: icon;
  font-size: 30px;
  font-weight: 500;
  float: left;
  margin-right: 10px;
}

.container-catalog {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.container-list {
  list-style-image: url(../articles/img/5_favorite_star.png);
  font-size: large;
  color: black;

}

.container-list__item {
  background: rgba(205, 26, 26, 0.5);
  padding: 10px;
}

.container-sublist {
  list-style-image: url(../articles/img/tab_new_r.png);
  background: rgba(193, 103, 103, 0.5);
  width: 200px;
  font-size: medium;
  color: blue;
  padding: 10px;
  margin: 30px;
}

.container-sublist__new::after {
  content: "new";
  color: white;
  background-color: rgb(221, 23, 12);
  font-size: 90%;
  padding: 2px;
  margin-left: 3px;
}

.bg-texture {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../articles/img/tekstura.jpg);
  background-size: 300px;
  background-repeat: repeat;
}

.container-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-gallery__image {
  outline: 5px solid #d25b56;
  padding: 5px;
  margin: 10px;
}

.container-gallery__link {
  color: #d25b56;
  font-size: 35px;
  font-weight: 900;
  text-decoration: none;
}

.container-gallery__image:hover {
  outline: none;
}

.address {
  text-align: center;
  margin-left: 0;
  margin-bottom: 15px;
}

.container-iframe {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.container-form {
  max-width: 500px;
  margin: 25px auto;
  background-color: rgb(236, 163, 147);
  border: solid 1px black;
  text-align: left;
}

.container-form__fieldset {
  border: none;
}

.container-form__group {
  margin: 15px 0 5px;
}

.capitalized {
  text-transform: capitalize;
}

.container-form__input {
  width: 100%;
  padding: 10px 20px;
}

.container-form__input--foto{
  width: 100%;
  padding: 10px 0;
}
.container-form__group--sm {
  margin: 10px 0 5px;
}

.container-form__group--sm:hover {
  outline: dashed 2px black;
}

.textarea {
  min-height: 90px;
  max-height: 33vh;
}

.container-form__btn {
  display: flex;
  margin: auto;
  padding: 10px 20px;
  justify-content: center;
}

.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: rosybrown;
  font-size: 20px;
}

.footer-text {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  flex-wrap: wrap;
}
